body {
    background: #fff;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

button:hover {
    cursor: pointer;
    box-shadow: 0 3px #666;
}

header {
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
  
}

#firstName {
    width: 400px;
    text-align: center;
    border: none;
    font-size: 30px;
    color: rgb(94, 91, 91);
    font-family: cursive;
}

#submit {
    height: 30px;
    width: 70px;
    position: relative;
    left: 10px;
    text-align: center;
    border-radius: 50%;
}

#submit:active {
    position: relative;
    box-shadow: 0 3px #666;
    text-align: center;
    background: rgb(1, 148, 21);
    border-radius: 45%;
}


.gameBody {
    background-color: rgb(1, 148, 21);
    padding: 60px ;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    border: rgb(1, 83, 12); 2px solid;
    box-shadow: 0 15px 12px; #666;
 
}

.screen {
    background-color: lightblue;
   width: 265px;
   height: 325px;
   border-radius: 25%;
   border: black 2px solid;
}

.years {
    width: 25%;
    height: 10%;
    font-size: 10px;
    text-align: center;
    position: relative;
    left: 190px;
    top: 10%;
    border-radius: 45%;

}

.info {
    font-size: 10px;
    text-align: center;
    position: relative;
    top: 10%;
    left: 10px;
    display: inline-block;
    border-radius: 20%;
    width: 80px;
}

#timer {
   position: relative;
    top: 25%;
}

#age {
    position: relative;
    top: 25%;
}

.allButtons {
    position: relative;
    left: -58px;
    bottom: 4.2em;

}

.myButtons:active {
    background-color: #b4b64a;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.myButtons {
    position: relative;
    box-shadow: 0 3px #666;
    text-align: center;
    background: rgb(212, 177, 19);
    border-radius: 45%;

}



#leftB {
     transform: rotate(45deg);
     position: relative;
}

#leftC {
    position: relative;
    left: 60px;
    top: 30px;
    
}

#rightC {
    transform: rotate(-45deg);
    position: relative;
   left: 116px;

}
.lowerBody {
    position: relative;
    bottom: 100px;
}

#head {
    border-width: 2px;
    background-color: rgb(60, 212, 93);
    border: rgb(117, 253, 147);
    border-style: solid;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    width: 40px;
    height: 60px;
    position: relative;
    animation: bounce;
    animation-duration: 2s;
    --animate-repeat: 2;
}

#rEye {
    border-width: 4px;
    background-color: rgb(227, 235, 229);
    border: rgb(186, 241, 198);
    border-style: solid;
    border-radius: 40%;
    bottom: 16px;
    width: 10px;
    height: 14px;
    position: relative;
    left: 2px;
  
}

#lEye {
    border-width: 4px;
    background-color: rgb(227, 235, 229);
    border: rgb(186, 241, 198);
    border-style: solid;
    border-radius: 40%;
    top: 4px;
    width: 10px;
    height: 14px;
    position: relative;
    left: 22px;
}


#mouth{
    border-width: 2px;
    background-color: rgb(214, 136, 71);
    border: rgb(186, 241, 198);
    border-style: solid;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    bottom: 10px;
    width: 7px;
    height: 7px;
    position: relative;
    left: 12px;
}


#body1 {
    margin-bottom: -10px;
    border-width: 2px;
    background-color: rgb(3, 148, 10);
    border: rgb(60, 212, 93);
    border-style: solid;
    border-radius: 50%;
    top: 100px;
    width: 50px;
    height: 55px;
    position: relative;
    left: 105px;
 }

 .upperBody {
     position: relative;
    bottom: 50px;
 }

 #gameOver {
     font-size: 20px;
     color: rgb(60, 212, 93);
     position: relative;
     text-align: center;
     width: 250px;
     margin-bottom: -60px;
     background-color: rgb(3, 148, 10);

 }

#lFoot {
    margin-top: 1px;
    background-color: rgb(60, 212, 93);
    border: rgb(117, 253, 147);
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
   top: 60px;
    width: 20px;
    height: 10px;
    position: relative;
    display: inline-block;
}


#rFoot {
    margin-top: 1px;
    background-color: rgb(60, 212, 93);
    border: rgb(117, 253, 147);
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    top: 60px;
    width: 20px;
    height: 10px;
    position: relative;
    display: inline-block;
}

#lUpperArm {
    background-color: rgb(60, 212, 93);
    border: rgb(117, 253, 147);
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 75%;
    width: 40px;
    height: 10px;
    position: relative;
    left: -30px;
    transform: rotate(-40deg);
}

#rUpperArm {
background-color: rgb(60, 212, 93);
border: rgb(117, 253, 147);
border-style: solid;
border-width: 1px;
border-top-left-radius: 60%;
border-top-right-radius: 60%;
border-bottom-left-radius: 75%;
border-bottom-right-radius: 5%;
width: 40px;
height: 10px;
position: relative;
bottom: 15px;
left: 35px;
transform: rotate(40deg);
}
 
                  
